@use "../styles.scss" as s;

.container {
  padding: 1.7rem 2.3rem;
  margin: 2rem;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: right 2rem top 0;
  background-size: 100px;
  @media (min-width: 900px) {
    margin: 0;
    height: 100%;
  }
  header {
    display: flex;
    align-items: center;
    gap: 2rem;

    .img-container {
      height: fit-content;
      width: 30px;

      img {
        border: 2px solid rgba($color: s.$LightGrayishBlue, $alpha: 0.5);
        border-radius: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    .name-container {
      p {
        margin: 0;
      }
      .name {
        letter-spacing: 0.2px;
      }
      .role {
        font-size: 11.5px;
      }
    }
  }

  .short-testimony {
    margin-top: 1rem;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.45px;
  }

  .large-testimony {
    letter-spacing: 0.3px;
    line-height: 20px;
  }
}
